body {
    background-image: url("https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg?cs=srgb&dl=pexels-snapwire-46024.jpg&fm=jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: 'Lato',
    sans-serif;
    

}

h1 {
    color: tomato;
    font-weight: 700;
    font-size: 5rem;
    text-shadow: 2px 2px 4px black;
    
    
}

h3 {
    color: aliceblue;
     text-shadow: 1px 1px 2px black;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0, 2);
}

#content {
    text-align: center;
    padding-top: 25%;
    

}

.container-fluid {

    padding-left: 40px;
    padding-left: 40px;
    

}